<app-film-card title="The Shawshark" year="2021" icon="https://editorial.designtaxi.com/news-sharkmovie2607/4.jpg"></app-film-card>
<app-film-card title="Madagascar" year="2011" icon="https://www.4kfilmizlesene.com/wp-content/uploads/2021/01/Madagascar-2005.png"></app-film-card>
<app-film-card title="The Superman" year="2021" icon="https://fr.web.img5.acsta.net/medias/nmedia/18/35/78/09/18647167.jpg"></app-film-card>
<app-film-card title="The Hero" year="2019" icon="https://i.pinimg.com/736x/89/65/1a/89651aeefbe8d47086a64e354b9cd03f.jpg"></app-film-card>


